extends layout
block content
    .container-fluid.m-1
        header.bg-danger.rounded.font-weight-bold.text-center.p-2
            h1.text-white Error
        content.text-center
                h5= error_description
        footer.bg-danger.rounded.text-center.p-2