extends layout
block content
  h1 Movie Database
  p Number of movies in the database: #{count}
  ul.list-group.list-group-flush
    li.list-group-item
      a(href="/genres") Genres
    li.list-group-item
      a(href="/actors") Actors