extends layout
block content
  .homepage
    h1.homepage-h1.text-center.mt-5 Canções de Arqueossítios
    input(type="button", value="Adicionar Canção" onclick="window.location='/newsong'").link-button.mt-5


  

  