doctype html
html
  head
    title TP6 - ArqSon
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    include topbar.pug
    .container
      block content
    include footer.pug
  script(src="/javascripts/jquery-3.3.1.slim.min.js")
  script(src="/javascripts/popper.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/axios.min.js")
  script(src="/javascripts/script.js")

