nav.navbar.navbar-expand-lg.navbar-light(style='background-color: sienna;opacity:0.9;')
  a.navbar-brand(href='/').font-weight-bold ArqSon
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor03' aria-controls='navbarColor03' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor03.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/songs').font-weight-bold Canções
      li.nav-item
        a.nav-link(href='/regions').font-weight-bold Regiões
